{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}
    <div id="description">
      <h3>
        {% if error_title %}
          {{ error_title }}
        {% else %}
          {% trans "Not Permitted" %}
        {% endif %}
      </h3>
    </div>
    <p>
    {% if error_message %}
      {{ error_message }}
    {% else %}
      Você não tem autorização para realizar esta ação
    {% endif %}
    </p>
    <p>
    {% if not request.user.is_anonymous %}
    Verifique se você está conectado como o usuário correto.
    {% else %}
    {% blocktrans %}Please login or register and retry.{% endblocktrans %}
    {% endif %}
    </p>
{% endblock %}
