{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block title %} Início - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}

  {% block hero %}
  {% if block.super %}
  {{ block.super }}
  {% else %}
  <div class="jumbotron">
  	<div class="container">
        <h1>{{custom_theme.jumbotron_welcome_title|default:_("SADes - Sistema de Avaliação da Desertificação")}}</h1>
  		<p></p>
		<p>{{custom_theme.jumbotron_welcome_content|default:_("Sistema estruturado para análise e comparação espacial da desertificação, destinado aos 1262 municípios do Semiárido brasileiro (SAB), a partir de um conjunto de 27 indicadores e organizados segundo o modelo conceitual DPSIR (Força Motriz, Pressão, Estado, Impacto e Resposta). Sendo estes, integrados através de uma modelagem de análise multicriterial (Promethee).")}}</p>
		<!-- {% if not custom_theme.jumbotron_cta_hide %}
  		<a class="btn btn-default btn-lg" target="_blank" href="{{custom_theme.jumbotron_cta_link|default:_("https://portal.insa.gov.br/")}}" role="button">{{custom_theme.jumbotron_cta_text|default:_("Iniciar aplicação &raquo;")}}</a>
    {% endif %}
    -->
	</div>
  </div>
  {% endif %}
  {% endblock hero %}

  {% block mainbody %}
      {% block showcase %}
      <section id="showcase">
        <div class="row">
          <div class="container text-center">
            <div class="row home-facets">
              <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "layer_browse" %}"><img src="{% static 'geonode/img/camadas.svg' %}"></a></p>
                        <h2><a href="{% url "layer_browse" %}">Camadas</a></h2>
                        <p>Indicadores e índices, que retratam aspectos ambientais, sociais, econômicos e institucionais, distribuídos espacialmente para todo o Semiárido brasileiro.</p>
                        {% if user.is_authenticated %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">Adicionar Layers &raquo;</a></p>
                        {% else %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">Explorar camadas &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "app" %}"><img src="{% static 'geonode/img/app.svg' %}"></a></p>
                        <h2><a href="{% url "app" %}">Aplicação</a></h2>
                        <p>Detalhes e informações sobre os produtos gerados e disponíveis em uma plataforma WebGIS dinâmica.</p>
                        <br>
                        <br>
                        {% if user.is_authenticated %}
                        <p><a class="btn btn-default" href="{% url "app" %}" role="button">Iniciar aplicação &raquo;</a></p>
                        {% else %}
                        <p><a class="btn btn-default" href="{% url "app" %}" role="button">Iniciar aplicação &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                  </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "document_browse" %}"><img src="{% static 'geonode/img/documentos.svg' %}"></a></p>
                        <h2><a href="{% url "document_browse" %}">Documentos</a></h2>
                        <p>Procedimentos metodológicos e principais referências utilizadas na geração dos dados disponibilizados no SADes.</p>
                        <br>
                        {% if user.is_authenticated %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "app" %}" role="button">Explorar documentos &raquo;</a></p>
                        {% else %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "app" %}" role="button">Explorar documentos &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                </div>  
            </div>
          </div>
        </div>
      </section>
      {% endblock showcase %}
      {% block partners %}
        {% if custom_theme.partners.all %}
        <section id="partners">
        <div class="container text-center">
          <h2>{{ custom_theme.partners_title|default:_("Our partners") }}</h2>
          <div class="row">
              {% for partner in custom_theme.partners.all %}
              <div class="col-md-6">
                  <div class="partner_logo" style="background-image: url({% if partner.logo %}{{partner.logo.url}}{% else %}{% static 'geonode/img/missing_thumb.png' %}{% endif %})"></div>
                  <div><a href="{{ partner.partner_link }}" target="_blank">{{ partner.title }}</a></div>
              </div>
              {% endfor %}
          </div>
        </div>
        </section>
        {% endif %}
      {% endblock partners %}
  {% endblock mainbody %}
{% endblock middle %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
{% endblock extra_script %}
