{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block title %} Início - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}

  {% block hero %}
  {% if block.super %}
  {{ block.super }}
  {% else %}
  <div class="jumbotron">
  	<div class="container">
        <h1>{{custom_theme.jumbotron_welcome_title|default:_("Nome da aplicação")}}</h1>
  		<p></p>
		<p>{{custom_theme.jumbotron_welcome_content|default:_("Texto breve com descrição da aplicação.")}}</p>
		{% if not custom_theme.jumbotron_cta_hide %}
  		<a class="btn btn-default btn-lg" target="_blank" href="{{custom_theme.jumbotron_cta_link|default:_("https://portal.insa.gov.br/")}}" role="button">{{custom_theme.jumbotron_cta_text|default:_("Iniciar aplicação &raquo;")}}</a>
		{% endif %}
	</div>
  </div>
  {% endif %}
  {% endblock hero %}

  {% block mainbody %}
      {% block showcase %}
      <section id="showcase">
        <div class="row">
          <div class="container text-center">
            <div class="row home-facets">
              <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                        <h2><a href="{% url "layer_browse" %}">Camadas</a></h2>
                        <p>Trecho descritivo sobre a aba</p>
                        {% if user.is_authenticated %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">Adicionar Layers &raquo;</a></p>
                        {% else %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">Explorar camadas &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
                        <h2><a href="{% url "maps_browse" %}">APP</a></h2>
                        <p>Trecho descritivo sobre a aba</p>
                        {% if user.is_authenticated %}
                        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">Iniciar aplicação &raquo;</a></p>
                        {% else %}
                        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">Iniciar aplicação &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                  </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <p><a href="{% url "app" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                        <h2><a href="{% url "app" %}">Documentos</a></h2>
                        <p>Trecho descritivo sobre a aba</p>
                        {% if user.is_authenticated %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "app" %}" role="button">Explorar documentos &raquo;</a></p>
                        {% else %}
                        <p class="text-center"><a class="btn btn-default" href="{% url "app" %}" role="button">Explorar documentos &raquo;</a></p>
                        {% endif %}
                      </div>
                  </div>
                </div>  
            </div>
            <p class="text-center">(Texto explicativo sobre o APP) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </section>
      {% endblock showcase %}
      {% block partners %}
        {% if custom_theme.partners.all %}
        <section id="partners">
        <div class="container text-center">
          <h2>{{ custom_theme.partners_title|default:_("Our partners") }}</h2>
          <div class="row">
              {% for partner in custom_theme.partners.all %}
              <div class="col-md-6">
                  <div class="partner_logo" style="background-image: url({% if partner.logo %}{{partner.logo.url}}{% else %}{% static 'geonode/img/missing_thumb.png' %}{% endif %})"></div>
                  <div><a href="{{ partner.partner_link }}" target="_blank">{{ partner.title }}</a></div>
              </div>
              {% endfor %}
          </div>
        </div>
        </section>
        {% endif %}
      {% endblock partners %}
  {% endblock mainbody %}
{% endblock middle %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
{% endblock extra_script %}