{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block body_outer %}

<!-- TODO download this css (Issue 1) -->
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
<!-- TODO put in other file (Issue 2) -->
<style>

    @font-face {
      font-family: qanelas-bold;
      src: url(../static/lib/font/qanelas-bold.otf);
      font-weight: bold;
    }

    .container {
      width: 90% !important;
    }

    .map {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
    }

    .chart {
      margin-top: 10%;
    }

    .content {
      width: 100%;
      height: 500px;
      padding: 10px;
      /* font-family: qanelas-bold;       */
    }

    .container-chart {
      float: left;
      width: 40%;
      overflow: hidden;
    }

    .container-map {
      float: right;
      width: 60%;
    }
    .crumbs {
      min-height: 15px;
    }

    .crumbs .crumb {
      position: relative;
      padding: 12px;
      font-family: qanelas-bold;
    }

    .crumbs .crumb:not(:last-of-type):before {
      content: "";
      display: block;
      position: absolute;
      border-top: 4px solid transparent;
      border-left: 6px solid #658ed0;
      border-bottom: 4px solid transparent;
      top: 18px;
      right: -5px;
    }

    .container-description {   
      width: 65%;
      overflow: inherit;
      float: left;
      height: 100%;
      margin-top: 10px;
      padding: 10px;     
      border-right: 1px solid lightgray;  
    }    

    .container-legend {  
      min-width: 100px;
      width: 25%;
      height: 100%;
      margin: 5px;
      margin: 10px;
      padding: 5px;
      font-size: 14px;
      float: right;
    }

    .container-legend label {
      display: block;
    }

    .container-description-row {      
      display: inline-block;
    }

    .container-description-row-content {
      float: left;
    }

    .container-description-row {
      font-size: 14px;
    }

    .row {
      padding-left: 3%;
    }

    .panel {
      border: 0;
    }

    .breadcrumb {
      background: rgb(219, 219, 219);
      border: 0px solid rgba(219, 219, 219);
      border-radius: 6px;
      display: block;
      padding: 10px;
    }
    .breadcrumb li {
      font-size: 14px;
    }
    .breadcrumb a {
      color: rgba(66, 139, 202, 1);
    }
    .breadcrumb a:hover {
      color: rgba(42, 100, 150, 1);
    }
    .breadcrumb>.active {
      color: rgba(153, 153, 153, 1);
    }
    .breadcrumb>li+li:before {
      color: rgba(204, 204, 204, 1); content: "\002F\00a0";
    }

  </style>

<body>
  <div class="content">
    <div id="breadcrumbs" class="crumbs breadcrumb">
        <span class="crumb"></span>
    </div>
    <div id="container-chart" class="container-chart">
      <div id="chart" class="chart"></div>
    </div>
    <div>
    <div class="container-map">
      <div id="map" class="map"></div>
      <div id="container-description" class="container-description">
        <div class="row">
          <div class="col">
            <div class="container-description-row">
              <label id="container-title-row-content"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="container-description-row">
              <div id="container-description-row-content" class="container-description-row-content"></div>
            </div>
          </div>
        </div>
        <!-- TODO check with the INSA
        <div class="row">
          <div class="col">
            <div class="container-description-row">
              <label>Para saber mais sobre o assunto:&nbsp</label>
              <a id="container-document-row-content" href="" target="_blank">Documento</a>
            </div>
          </div>
        </div>
        -->
      </div>
      <div class="container-legend">
        <label>Legenda </label>
        <img id="legend-image">
      </div>
    </div>
  </div>
  {% endblock %}
  {% block extra_script %}
  {% block super %}
  <!-- TODO download this scripts (Issue 1) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
  <script src="../static/lib/js/sunburst-chat-ed.js"></script>
  <script src="//d3js.org/d3.v5.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>  

  <script type="text/javascript">
    // (refactoring) TODO this constants must be setted in another file (Issue 3)
    const GEOSERVER_URL = 'http://150.165.85.24/geoserver/wms/';

    // (refactoring) TODO put in another file (Issue 6)
    const dataDesertificacao = {
      name: "Desertificação",
      color: "level_one_desertif_color",
      labelColor: "black", 
      imgName: "geonode:gfsol_nmin_compress_2",
      description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore deserunt, quaerat maxime iste doloribus dolores aperiam ipsa facere perferendis repellat quibusdam recusandae incidunt animi vero sint voluptate sapiente dolorem!",
      linkDocumentation: "http://google.com?anything=geonode:aedm_1",
      children: [
        {
          name: "Estado",
          color: "level_two_color",
          labelColor: "black",           
          imgName: "geonode:imd_r_cropped_compressed",
          description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore deserunt, quaerat maxime iste doloribus dolores aperiam ipsa facere perferendis repellat quibusdam recusandae incidunt animi vero sint voluptate sapiente dolorem!",
          linkDocumentation: "http://google.com?anything=geonode:vvaamm",
          size: 2,
          children: [
            {
              name: "Condição Ambiental",
              color: "level_three_estado_color",
              labelColor: "white",                  
              size: 3.3,
              imgName: "geonode:aernp",
              description: "geonode:aernp ...",
              linkDocumentation: "http://google.com?anything=geonode:geonode:aernp",
              children: [
                {                  
                  name: "Indice de Aridez",
                  color: "level_four_condicao_ambiental_color",
                  labelColor: "black",                      
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Indice de Seca",
                  color: "level_four_condicao_ambiental_color",
                  labelColor: "black",                     
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Cobertura Vegetal",
                  color: "level_four_condicao_ambiental_color",
                  labelColor: "black",                     
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Grau de Fertilidade do Solo",
                  color: "level_four_condicao_ambiental_color",
                  labelColor: "black",                     
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  imgName: "geonode:uapha",
                  size: 3.3
                },
                {
                  name: "Risco de Erosão Hidrica",
                  color: "level_four_condicao_ambiental_color",
                  labelColor: "black",                  
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            },
            {
              name: "Condição Econômica",
              color: "level_three_estado_color",
              labelColor: "white",               
              size: 3.3,
              imgName: "geonode:afagp_1",
              description: "geonode:afagp_1 ...",
              linkDocumentation: "http://google.com?anything=geonode:geonode:afagp_1",
              children: [
                {
                  name: "Renda Per Capita Rural",
                  color: "level_four_condicao_economica_color",
                  labelColor: "white",              
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Produtividade do Feijão",
                  color: "level_four_condicao_economica_color", 
                  labelColor: "white",                 
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Produtividade do Milho",
                  color: "level_four_condicao_economica_color",                  
                  labelColor: "white",
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            },
            {
              name: "Condição Social",
              color: "level_three_estado_color",
              labelColor: "white",               
              size: 3.3,
              imgName: "geonode:analf",
              description: "geonode:analf ...",
              linkDocumentation: "http://google.com?anything=geonode:geonode:analf",
              children: [
                {
                  name: "Densidade de População Rural",
                  color: "level_four_condicao_social_color",
                  labelColor: "white",                      
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Estabelecimentos Rurais Dirigidos por Mulheres",
                  color: "level_four_condicao_social_color",
                  labelColor: "white",                      
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            }
          ]
        },
        {
          name: "Força Motriz",
          color: "level_two_color",
          labelColor: "black",          
          imgName: "geonode:rpcr",
          description: "geonode:rpcr ...",
          linkDocumentation: "http://google.com?anything=geonode:geonode:rpcr",
          size: 2,
          children: [
            {
              name: "Concentração de Terra",
              color: "level_three_forca_motriz_color",
              labelColor: "white",                                     
              size: 3.3,
              imgName: "geonode:dprur",
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              children: [
                {
                  name:
                    "Área dos estabelecimentos Rurais menores que o modulo fiscal",
                  color: "level_four_condicao_terra_color",
                  labelColor: "black",                      
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name:
                    "Área dos estabelecimentos Rurais sob regime de não propriedade",
                  color: "level_four_condicao_terra_color",
                  labelColor: "black",                       
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            },
            {
              name: "Influência da População Urbana",
              color: "level_three_forca_motriz_color",
              labelColor: "white",                 
              imgName: "geonode:dtsaa_nmin",
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              size: 3.3
            },
            {
              name: "Desigualdade Social no Campo",
              color: "level_three_forca_motriz_color",
              labelColor: "white",                 
              size: 3.3,
              imgName: "geonode:nogip",
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              children: [
                {
                  name: "Analfabetismo no Campo",
                  description: "...",
                  color: "level_four_influencia_social_campo_color",
                  labelColor: "white",                       
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "População rural abaixo da linha de pobreza",
                  color: "level_four_influencia_social_campo_color",
                  labelColor: "white",     
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            }
          ]
        },
        {
          name: "Resposta",
          color: "level_two_color",
          labelColor: "black",              
          imgName: "geonode:nong",
          description: "...",
          linkDocumentation: "http://google.com?anything=geonode:...",
          size: 2,
          children: [
            {
              name: "Organização da Sociedade Civil",
              color: "level_three_resposta_color",
              labelColor: "white",                      
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              size: 2
            },
            {
              name: "Organização do Poder Público",
              color: "level_three_resposta_color",
              labelColor: "white",                  
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              size: 2
            }
          ]
        },
        {
          name: "Impacto",
          color: "level_two_color",
          labelColor: "black",              
          imgName: "geonode:npdrs",
          description: "...",
          linkDocumentation: "http://google.com?anything=geonode:...",
          size: 2,
          children: [
            {
              name: "Taxa de Migração do Campo para a Cidade",
              color: "level_three_impacto_color",
              labelColor: "white",                  
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              size: 5
            },
            {
              name: "Variação da Participação da Agropecuária no PIB",
              color: "level_three_impacto_color",
              labelColor: "white",                
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              size: 5
            }
          ]
        },
        {
          name: "Pressão",
          color: "level_two_color",
          labelColor: "black",              
          imgName: "geonode:npuc",
          description: "...",
          linkDocumentation: "http://google.com?anything=geonode:...",
          size: 2,
          children: [
            {
              name: "Desmatamento",
              color: "level_three_pressao_color",
              labelColor: "black",                    
              size: 5,
              imgName: "geonode:pralp",
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              children: [
                {
                  name: "Avanço da fronteira agropecuária",
                  color: "level_four_pressao_desmatamento_campo_color",
                  labelColor: "black",                       
                  imgName: "geonode:vpr_10",
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Mudança da cobertura vegetal",
                  color: "level_four_pressao_desmatamento_campo_color",
                  labelColor: "black",                        
                  imgName: "geonode:rpcr",
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            },
            {
              name: "Manejamento Inadequado da Terra",
              color: "level_three_pressao_color",
              labelColor: "black",               
              size: 5,
              imgName: "geonode:rctf2006mm",
              description: "...",
              linkDocumentation: "http://google.com?anything=geonode:...",
              children: [
                {
                  name: "Carga animal excessiva",
                  color: "level_four_pressao_manejamento_ina_color",
                  labelColor: "black",                        
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                },
                {
                  name: "Recorrência de Incêndio",
                  color: "level_four_pressao_manejamento_ina_color",
                  labelColor: "black",                       
                  description: "...",
                  linkDocumentation: "http://google.com?anything=geonode:...",
                  size: 3.3
                }
              ]
            }
          ]
        }
      ]
    };

    fillLegend = (imgName) => {
      const urlSufix = '?service=wms&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=' + imgName;
      
      const url = GEOSERVER_URL + urlSufix;
      $('#legend-image').attr("src", url);
    }

    fillBreadcrumbs = (data) => {
      let breadcrumbsArr = getNameArray(data.__dataNode, []);

      let breadcrumbs_container = $("#breadcrumbs");
      
      breadcrumbs_container.empty();
      breadcrumbsArr.reverse().forEach((value) => {
        breadcrumbs_container.append('<span class="crumb">' + value + '</span>');
      });
    }

    getNameArray = (data, array) => {
      array = array || [];
      array.push(data.data.name);
      if (data.parent) getNameArray(data.parent, array);
      return array;
    };

    fillDescrition = (data) => {
      $('#container-title-row-content').text(data.name ? data.name : '-');
      $('#container-description-row-content').text(data.description ? data.description : '-');
      $('#container-document-row-content')
        .attr("href", data.linkDocumentation ? data.linkDocumentation : '-');
    };

    let calculateChartSize = () => {
      const DEFAULT_PERCENT_SIZE = 0.9;
      const DEFAULT_SIZE = 400;
      try {
        return parseInt($("#container-chart").css('width')) * DEFAULT_PERCENT_SIZE;
      } catch (error) {
        return DEFAULT_SIZE;
      }
    };

    $(document).ready(() => {
      let defaultL = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

      const initialLayer = dataDesertificacao.imgName.split(':')[1];
      let rootLayer = new ol.layer.TileLayer({
        source: new ol.source.TileWMS({
          url: GEOSERVER_URL,
          params: {
            'LAYERS': initialLayer,
            'TILED': true
          },
          ratio: 1, 
          serverType: "geoserver"
        })
      });

      // TODO (refactoring) put the center parameters in a constant (Issue 4)
      let map = new ol.Map({
        layers: [defaultL, rootLayer],
        target: "map",
        view: new ol.View({
          center: [-4615573.515972, -794945.094166],
          zoom: 4
        })
      });

      var geocoder = new Geocoder('nominatim', {
        provider: 'osm',
        lang: 'pt-BR',
        placeholder: 'Procurar por ...',
        targetType: 'glass-button',
        limit: 3,
        keepOpen: true
      });

      geocoder.on('addresschosen', function (evt) {
        var feature = evt.feature,
          coord = evt.coordinate,
          address = evt.address;
        content.innerHTML = '<p>' + address.date + '</p>';
        overlay.setPosition(coord);
      });

      map.addControl(geocoder);  

      // TODO analyze this approach, because only works in the page initialization (Issue 5)
      let chartContainerSize = calculateChartSize();

      let color = d3.scaleOrdinal(d3.schemePaired);
      // TODO (refactoring) put the "data" in another file. (Issue 6)
      const DATA_DESERT_ATTR_LABEL = "name";
      const DATA_DESERT_ATTR_SIZE = "size";
      let sunburst = Sunburst()
        .data(dataDesertificacao)
        .label(DATA_DESERT_ATTR_LABEL)
        .size(DATA_DESERT_ATTR_SIZE)
        .width(chartContainerSize)
        .height(chartContainerSize)
        .color((d, parent) => d.color);

      sunburst.onNodeClick(choosenData => {
        map.getLayers().clear();
        sunburst.focusOnNode(choosenData);
        var layer1 = new ol.layer.Image({
          source: new ol.source.ImageWMS({
            url: GEOSERVER_URL,
            params: { LAYERS: choosenData.imgName },
            ratio: 1,
            serverType: "geoserver"
          })
        });
        map.addLayer(defaultL);
        map.addLayer(layer1);

        fillLegend(choosenData.imgName);
        fillBreadcrumbs(choosenData);
        fillDescrition(choosenData);
      });

      sunburst($("#chart")[0]);
      fillLegend(initialLayer);
      fillBreadcrumbs(dataDesertificacao);
      fillDescrition(dataDesertificacao);
    });

  </script>
  {% endblock super %}
  {% endblock extra_script %}