{% extends "geonode_base.html" %}

{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}

{% block title %} {% trans "Map" %} - {{ block.super }} {% endblock %}

{% block head %}

    <style>
        #paneltbar {
            margin-top: 90px !important;
        }
    </style>

    {% get_map_insa_view %}
    
    {{ block.super }}

{% endblock %}
{% block footer %}
    aaaaaa
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        // TODO find the right js to save this script

        const PADDING_SIZE_PER_LEVEL_HIERARCHY = 26

        const structureHierarchy = () => {
            for(var key in dataHierarchy) {
                const indice = dataHierarchy[key] 
                const title = indice.title 
                const hierarchyPadding = indice.level * PADDING_SIZE_PER_LEVEL_HIERARCHY

                $(`.x-tree-node a span:contains("${title}")`).parent().parent().parent().css('padding-left', `${hierarchyPadding}px`)
            }
        }

        const createActions = () => {
            $('div .x-tree-node-el').not(".x-tree-node-leaf").on( "click", function() {
                const value = $(this).text()
                const isExpanded = $(this).hasClass("x-tree-node-expanded")

                for(var key in dataHierarchy) {
                    const indice = dataHierarchy[key]
                    if (indice.title === value) {
                        const childrens = indice.childrens
                        for(var keyChild in childrens) {
                            indiceChild = childrens[keyChild]
                            const title = indiceChild
                            $(`.x-tree-node a span:contains("${title}")`).parent().parent().parent().css('display', isExpanded ? 'none': '')
                        }
                    }
                }
            });
        }

        const init = () => {
            console.log('Init', $("img .x-tree-ec-icon"))
            createActions()
            structureHierarchy()
        }

        setTimeout(() => {
            init()
        }, 1000);

    </script>
{% endblock %}