{% extends "geonode_base.html" %}

{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}

{% block title %} {% trans "Map" %} - {{ block.super }} {% endblock %}

{% block head %}

    <style>
        #paneltbar {
            margin-top: 90px !important;
        }
    </style>

    {% get_map_insa_view %}
    
    {{ block.super }}

{% endblock %}
{% block footer %}
    <script>
        // TODO refactor all method
        // TODO find the right area to save this js script

        const PADDING_SIZE_PER_LEVEL_HIERARCHY = 26

        const structureLevelHierarchy = (groups, level) => {
            groups.forEach(element => {
                const title = element.title
                const hierarchyPadding = level * PADDING_SIZE_PER_LEVEL_HIERARCHY

                // TODO use constants or methods in the selectors
                // TODO find the parent. Refactoring
                $(`.x-tree-node a span:contains("${title}")`).parent().parent().parent().css('padding-left', `${hierarchyPadding}px`)

                const childrens = element.childrens
                if (childrens != null && childrens.length !== 0) {
                    structureLevelHierarchy(childrens, level + 1)
                }
            });
        }

        const structureHierarchy = () => {
            const firstLevel = 0
            structureLevelHierarchy(GeoNodeInsaGeoExplorerData.dataGroupsHierarchy.groups, firstLevel)
        }

        const findGroupByTitle = (groups, title) => {
            for (let i = 0; i < groups.length; i++) {
                const group = groups[i]
                if (group.title === title) {
                    return group
                }
                const childrens = group.childrens
                if (childrens != null && childrens.length !== 0) {
                    groupFound = findGroupByTitle(childrens, title)
                    if (groupFound != null) {
                        return groupFound
                    }
                }
            }
            return null
        }

        const childrenGroupExpansion = (childrenGroups, isExpanded) => {
            childrenGroups.forEach( element => {
                const title = element.title
                // TODO use constants or methods in the selectors
                // TODO find the parent. Refactoring
                $(`.x-tree-node a span:contains("${title}")`).parent().parent().parent().css('display', isExpanded ? 'none': '')
                const childrens = element.childrens
                if (childrens != null && childrens.length !== 0) {
                    childrenGroupExpansion(childrens, isExpanded)
                }
            });
        }

        const onClickArrowExpansion = () => {
            // TODO use constants or methods in the selectors
            $('div .x-tree-node-el').not(".x-tree-node-leaf").on( "click", function() {
                const title = $(this).text()
                const isExpanded = $(this).hasClass("x-tree-node-expanded")

                const groups = GeoNodeInsaGeoExplorerData.dataGroupsHierarchy.groups
                const group = findGroupByTitle(groups, title)
                const groupChildren = group.childrens
                childrenGroupExpansion(groupChildren, isExpanded)
            });
        }

        const createActions = () => {
            onClickArrowExpansion()
        }

        const init = () => {
            createActions()
            structureHierarchy()
        }

        // Temporary 
        setTimeout(() => {
            init()
        }, 1000);

    </script>
{% endblock %}