{% extends "geonode_base.html" %}

{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}

{% block title %} {% trans "Map" %} - {{ block.super }} {% endblock %}

{% block head %}

    <style>
        #paneltbar {
            margin-top: 90px !important;
        }
    </style>

    {% get_map_insa_view %}
    
    {{ block.super }}

{% endblock %}
{% block footer %}
<script src="../../../static/lib/js/hierarchy-manager.js"></script>
<script src="../../../static/lib/js/maps-util.js"></script>
{% endblock %}
