{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Alterar senha{% endblock %}

{% block body_outer %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}Alterar senha{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>O link para que sua senha fosse resetada é inválido, pois possivelmente já foi utilizado. Por favor, peça novamente para que <a href="{{ passwd_reset_url }}">sua senha seja resetada</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="alterar senha"/>
            </form>
        {% else %}
            <p>Sua senha foi alterada com sucesso.</p>
        {% endif %}
    {% endif %}
{% endblock %}