{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account %}

{% block title %}Resetar senha{% endblock %}

{% user_display request.user as user_display %}

{% block body_outer %}
<div class="page-header">
  <h2>Resetar senha</h2>
</div>
{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="row">
  <div class="col-md-8">
    <p class="lead">Esqueceu sua senha?</p>
    <p class="lead">Insira seu email abaixo e enviaremos um link para que você possa resetar sua senha.</p>
    <form method="POST" action="{% url 'account_reset_password' %}">
      <fieldset>
      {% csrf_token %}
      {{ form.as_p }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Resetar minha senha</button>
        </div>
      </fieldset>
    </form>
    <p class="grid-spacer">{% blocktrans %}Se você está tendo problemas para resetar sua senha, contate-nos em <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
{% block extra_body %}
  <script>
    $("#id_email").focus();
  </script>
{% endblock %}
