{% extends "account/base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block title %}Alterar senha{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>Alteração de senha</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">Altere sua senha aqui</p>
            <form method="POST" action="">
                <fieldset>
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Alterar senha</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
